* {
    font-family: "Noto Sans";
    font-size: 20px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar > box {
    margin: 0 7px 7px 7px;
    background-color: rgba(31, 31, 31, 0.5);
    border: 2px solid rgba(76.5, 76.5, 76.5, 1);
}

label,
#tray,
#window {
    /* padding: 0 10px 0 0; */
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgba(76.5, 76.5, 76.5, 0.5);
    padding: 0;
    font-size: 14px;
}

/* -------------------------------------------------------------------------- */

/* Clock */

#clock {
    padding: 0 6px 2px 7px;
    color: #ffffff;
    font-size: 18px;
}

/* System monitors */

#memory {
    padding: 0 14px 2px 7px;
    /* background-color: #9b59b6; */
    color: #ffffff;
    font-size: 18px;
}

#network {
    /* background-color: #2980b9; */
    padding: 0 6px 2px 7px;
    color: #ffffff;
    font-size: 18px;
}

/* Audio */

#pulseaudio {
    /* background-color: #f1c40f;
    color: #000000; */
    padding: 0 6px 2px 7px;
    color: #ffffff;
    font-size: 16px;
}

#pulseaudio.muted {
    /* background-color: #90b1b1; */
    padding: 0 6px 2px 7px;
    color: #2a5c45;
    font-size: 16px;
}

#custom-power {
    padding: 0 14px 0 11px;
    color: #ffffff;
}

/* Tray */

#tray {
    /* background-color: #2980b9; */
    padding: 0 8px 1px 7;
    border-left-style: none;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
