
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
//         Outputs
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

output "DP-1" {
    mode "3840x2160"
    scale 1.0
    position x=0 y=0
    focus-at-startup
}

output "DP-2" {
    mode "3840x2160"
    scale 1.0
    position x=-3840 y=0
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
//         General
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

input {
    keyboard {
        xkb {
            layout "gb"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-speed -0.66
        accel-profile "flat"
    }

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="95%"
}

layout {
    gaps 2

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 1.0
    }

    default-column-width { proportion 0.33333; }

    focus-ring {
        width 2

        // active-color "#7fc8ff"
        active-gradient from="#f00f" to="#0f05" angle=45 in="oklch longer hue"

        inactive-color "#505050"
    }

    border {
        off
    }

    tab-indicator {
        width 3
        gap 3
    }
}

gestures {
    hot-corners {
        off
    }
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    SDL_VIDEO_DRIVER "wayland,x11"
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
    // NOTE: SDL3 application in Wayland mode do not seem to trigger resize acknowledgement
    // disable-resize-throttling

    honor-xdg-activation-with-invalid-serial
}

clipboard { disable-primary; }

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
//         Window Rules
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// ---- General rules

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

// ---- Specific rules

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="org.kde.kalk"
    match app-id="io.missioncenter.MissionCenter"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=16 y=16 relative-to="bottom-right"
}

window-rule {
    match app-id="pavucontrol"
    open-floating true
    open-focused true

    default-column-width { fixed 700; }
    default-window-height { fixed 1000; }

    default-floating-position x=16 y=16 relative-to="bottom-right"
}

window-rule {
    match app-id="org.keepassxc.KeePassXC"
    open-floating true

    default-column-width { fixed 500; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="XEyes"
    open-floating true

    default-column-width { fixed 250; }
    default-window-height { fixed 250; }
}

window-rule {
    match app-id="org.keepassxc.KeePassXC"
    match app-id="1Password"

    open-floating true
    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
//         Binds
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Application hotkeys

    Mod+T hotkey-overlay-title="Open a Terminal: Konsole" { spawn "konsole"; }
    Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+B hotkey-overlay-title="Open browser: Firefox" { spawn "firefox"; }
    Mod+X { spawn "kalk"; }
    Mod+Shift+Delete { spawn "missioncenter"; }

    Mod+I { spawn "xeyes"; }

    // Consumer Control Keys

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl -p spotify play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl -p spotify stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl -p spotify previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl -p spotify next"; }

    // ----

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    Mod+Shift+Ctrl+Left   { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Right  { move-workspace-to-monitor-right; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+WheelScrollDown      { focus-workspace-down; }
    Mod+WheelScrollUp        { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }
    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    Mod+W { toggle-column-tabbed-display; }

    // Screenshots
    Print      { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print  { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
